In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sas
from sklearn import linear_model

%matplotlib inline

In [19]:
df_train = pd.read_csv('train.csv')
df_train.head(2)

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,0,I,1.525,1.175,0.375,28.973189,12.728926,6.647958,8.348928,9
1,1,I,1.100,0.825,0.275,10.418441,4.521745,2.324659,3.401940,8

In [18]:
df_test = pd.read_csv("test.csv")
df_test.head(2)

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight
0,74051,I,1.0500,0.7625,0.275,8.618248,3.657085,1.729319,2.721552
1,74052,I,1.1625,0.8875,0.275,15.507176,7.030676,3.246018,3.968930

In [3]:
df_train.shape

(74051, 10)

In [4]:
df_train.isnull().sum()

id                0
Sex               0
Length            0
Diameter          0
Height            0
Weight            0
Shucked Weight    0
Viscera Weight    0
Shell Weight      0
Age               0
dtype: int64

In [5]:
df_train.Sex.unique()

array(['I', 'M', 'F'], dtype=object)

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74051 entries, 0 to 74050
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              74051 non-null  int64
 1   Sex             74051 non-null  object
 2   Length          74051 non-null  float64
 3   Diameter        74051 non-null  float64
 4   Height          74051 non-null  float64
 5   Weight          74051 non-null  float64
 6   Shucked Weight  74051 non-null  float64
 7   Viscera Weight  74051 non-null  float64
 8   Shell Weight    74051 non-null  float64
 9   Age             74051 non-null  int64
dtypes: float64(7), int64(2), object(1)
memory usage: 5.6+ MB

In [15]:
df_sex = pd.get_dummies(df_train['Sex'],drop_first=True).astype(int)
df_sex

       I  M
0      1  0
1      1  0
2      0  1
3      0  0
4      1  0
...   .. ..
74046  0  0
74047  1  0
74048  0  0
74049  1  0
74050  1  0

[74051 rows x 2 columns]

In [11]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74051 entries, 0 to 74050
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              74051 non-null  int64
 1   Sex             74051 non-null  object
 2   Length          74051 non-null  float64
 3   Diameter        74051 non-null  float64
 4   Height          74051 non-null  float64
 5   Weight          74051 non-null  float64
 6   Shucked Weight  74051 non-null  float64
 7   Viscera Weight  74051 non-null  float64
 8   Shell Weight    74051 non-null  float64
 9   Age             74051 non-null  int64
dtypes: float64(7), int64(2), object(1)
memory usage: 5.6+ MB