<h2 style='color:purple' align='center'>Naive Bayes Tutorial : Predicting survival from titanic crash</h2>

In [1]:
import pandas as pd

In [16]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [18]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [19]:
# df.Age = df.Age.fillna(df.Age.mean())

In [20]:
x = df.Survived
y = df.drop('Survived',axis = 1)

In [21]:
# y.columns[y.isnull().any()]
y.columns[y.isna().any()]

Index(['Age'], dtype='object')

In [22]:
y.Age = y.Age.fillna(y.Age.mean())

In [23]:
y.columns[y.isna().any()]

Index([], dtype='object')

In [24]:
dummies = pd.get_dummies(y.Sex,drop_first = 1).astype('int')
dummies

     male
0       1
1       0
2       0
3       0
4       1
..    ...
886     1
887     0
888     0
889     1
890     1

[891 rows x 1 columns]

In [25]:
y = y.drop('Sex',axis = 1)

In [26]:
y = pd.concat([y,dummies],axis = 1)
y

     Pclass        Age     Fare  male
0         3  22.000000   7.2500     1
1         1  38.000000  71.2833     0
2         3  26.000000   7.9250     0
3         1  35.000000  53.1000     0
4         3  35.000000   8.0500     1
..      ...        ...      ...   ...
886       2  27.000000  13.0000     1
887       1  19.000000  30.0000     0
888       3  29.699118  23.4500     0
889       1  26.000000  30.0000     1
890       3  32.000000   7.7500     1

[891 rows x 4 columns]

In [57]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(y,x,test_size=0.2)
# x_train,x_test,y_train,y_test = train_test_split(y,x,test_size=0.2,random_state = 1)

# wen i removed random it gave diff score wen i triwed sedocnd time

In [58]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [59]:
nb.fit(x_train,y_train)

GaussianNB()

In [60]:
nb.score(x_test,y_test)

0.7932960893854749

In [65]:
x_test[0:10]

     Pclass   Age      Fare  male
117       2  29.0   21.0000     1
435       1  14.0  120.0000     0
342       2  28.0   13.0000     1
339       1  45.0   35.5000     1
299       1  50.0  247.5208     0
381       3   1.0   15.7417     0
313       3  28.0    7.8958     1
311       1  18.0  262.3750     0
689       1  15.0  211.3375     0
576       2  34.0   13.0000     0

In [68]:
nb.predict(x_test[0:10])

array([0, 1, 0, 0, 1, 1, 0, 1, 1, 1])

In [73]:
y_train[0:10]

768    0
421    0
161    1
353    0
831    1
673    1
488    0
534    0
110    0
87     0
Name: Survived, dtype: int64

In [70]:
nb.predict_proba(x_test[:10])

array([[9.19679221e-01, 8.03207792e-02],
       [1.74894239e-03, 9.98251058e-01],
       [9.19468833e-01, 8.05311675e-02],
       [7.63257966e-01, 2.36742034e-01],
       [2.31372002e-09, 9.99999998e-01],
       [2.18928397e-01, 7.81071603e-01],
       [9.60912854e-01, 3.90871460e-02],
       [1.73288322e-10, 1.00000000e+00],
       [2.42248987e-07, 9.99999758e-01],
       [2.46222008e-01, 7.53777992e-01]])

In [72]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),x_train, y_train, cv=5)

array([0.75524476, 0.76223776, 0.77464789, 0.78873239, 0.78169014])