In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {'Country' : ['France','Spain','Germany','Spain','Germany','France','Spain','France','Germany','France'],
'Age' : [44,27,30,38,40,35,np.nan,48,50,37],
'Salary' : [72000,48000,54000,61000,np.nan,58000,52000,79000,83000,67000],
'Purchased' : ['No','Yes','No','No','Yes','Yes','No','Yes','No','Yes']}

In [5]:
df = pd.DataFrame(data)
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [6]:
df.shape

(10, 4)

In [10]:
# independent value
# df[['']] - it should be in 2d array not in 1d
x = df[['Country','Age','Salary']].values
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [11]:
# dependent value
y = df[['Purchased']].values
y

array([['No'],
       ['Yes'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

In [13]:
from sklearn.impute import SimpleImputer

In [15]:
imputer = SimpleImputer(missing_values = np.nan,strategy = 'mean')

# we are creating an instance with fun like the missing value are nan and instead of that we have to add mean

In [16]:
imputer.fit(x[:,1:3])

SimpleImputer()

In [17]:
imputer = imputer.fit(x[:,1:3])

# x[:,1:3] - : - every row,adn 1:3 means 1 ,2 col.needed to fit the mean given in the imputer

In [18]:
x[:,1:3] = imputer.transform(x[:,1:3])

In [19]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
lable_encode = LabelEncoder()

In [23]:
x[:,0] = lable_encode.fit_transform(x[:,0])

In [24]:
x

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [26]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
ohe = OneHotEncoder()

In [29]:
ohe.fit_transform(df.Country.values.reshape(-1,1)).toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [30]:
label_Encode_y =  LabelEncoder()

In [31]:
label_Encode_y.fit_transform(y)

/home/sonali/Documents/jupyter_project/test/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [34]:
x_train

array([[1, 40.0, 63777.77777777778],
       [0, 37.0, 67000.0],
       [2, 27.0, 48000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [2, 38.0, 61000.0],
       [0, 44.0, 72000.0],
       [0, 35.0, 58000.0]], dtype=object)

In [35]:
x_test

array([[1, 30.0, 54000.0],
       [1, 50.0, 83000.0]], dtype=object)

In [36]:
y_train

array([['Yes'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['No'],
       ['Yes']], dtype=object)

In [37]:
y_test

array([['No'],
       ['No']], dtype=object)

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
sc_x = StandardScaler()

In [47]:
x_train = sc_x.fit_transform(x_train)

In [48]:
x_test = sc_x.transform(x_test)

In [49]:
x_train

array([[ 0.13483997,  0.26306757,  0.12381479],
       [-0.94387981, -0.25350148,  0.46175632],
       [ 1.21355975, -1.97539832, -1.53093341],
       [ 1.21355975,  0.05261351, -1.11141978],
       [-0.94387981,  1.64058505,  1.7202972 ],
       [ 1.21355975, -0.0813118 , -0.16751412],
       [-0.94387981,  0.95182631,  0.98614835],
       [-0.94387981, -0.59788085, -0.48214934]])

In [50]:
x_test

array([[-1.        , -4.1       , -4.7242069 ],
       [-1.        , -3.9       , -4.72406897]])