In [3]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [4]:
df = pd.DataFrame(housing.data,columns = housing.feature_names)

In [5]:
df.drop(['Latitude','Longitude'],axis = 1,inplace=True)

In [6]:
df['Target'] = housing.target
df.head()

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Target
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556   4.526
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842   3.585
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260   3.521
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945   3.413
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467   3.422

In [7]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.3, random_state=99)

In [9]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train,y_train)

In [ ]:
# reg.score(x_test,y_test)
# reg.score(x_train,y_train)
y_pred = reg.predict()

In [ ]:
pred = reg.predict(x_test)
mserr = mean_squared_error(y_test, y_predd)
mserr

In [ ]:
# from sklearn.linear_model import Ridge
# ridge = Ridge(alpha=0.1)
# ridge.fit(x_train, y_train)
# y_pred = ridge.predict(x_test)

In [ ]:
# from sklearn.metrics import mean_squared_error